@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #17171b;
}

.container {
  width: 100%;
  height: 100%;
}

/* header navbar 디자인 */
header {
  height: 60px;
  background-color: #17171b;
  color: #f1f3f5;
  padding: 1rem 4rem 1rem 4rem;
  margin: auto;
}

header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .menu-item {
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 1.5rem;
}

header .web-title {
  font-family: "Archivo Black", serif;
  padding-left: 0;
}

header .menu-item a {
  color: #f1f3f5;
  font-size: 1.5rem;
  text-decoration: none;
}

header .menu-item:hover {
  opacity: 80%;
}

header .movie-search-input {
  width: 500px;
  height: 40px;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  padding-left: 1.5rem;
  background-color: #f1f3f5;
}

/* @media (max-width: 1000px) {
  header .movie-search-input {
    width: 600px;
  }
}

@media (max-width: 768px) {
  header .movie-search-input {
    width: 500px;
  }
}

@media (max-width: 480px) {
  header .movie-search-input {
    width: 300px;
  }
} */

header .book-mark-button {
  font-size: 1rem;
  color: #ffd65a;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .book-mark-button:hover {
  opacity: 80%;
}

/* 배너 디자인 */
main .banner {
  border-radius: 1rem;
  margin-bottom: 4rem;
}

main .banner > img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

/* 영화 카드 리스트 디자인 */
main {
  padding: 0 4rem 2rem 4rem;
}

main .movie-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 1.5rem;
}

@media (max-width: 1300px) {
  main .movie-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1.5rem;
  }
}

@media (max-width: 1100px) {
  main .movie-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  main .movie-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1.5rem;
  }
}

main .movie-list .movie-card {
  border-radius: 10px;
  overflow: hidden;
  color: #17171b;
}

main .movie-list .movie-card:hover {
  opacity: 60%;
  box-shadow: 0px 0px 10px 2px #4e4e4e;
}

main .movie-list .movie-card .movie-image {
  height: 360px;
}

main .movie-list .movie-card .movie-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .movie-list .movie-card .movie-card-body {
  height: 96px;
  color: #f1f3f5;
  text-align: center;
  padding: 1rem;
}

main .movie-list .movie-card .movie-card-body > h2 {
  font-size: 24px;
  padding-bottom: 10px;
}

main .movie-list .movie-card .movie-card-body > p {
  color: #ced4da;
}

/* 모달창 디자인 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal .modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  background-color: #f1f3f5;
  border-radius: 10px;
  padding: 1.5rem;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
}

.modal .close-button > button {
  background-color: transparent;
  color: #17171b;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.modal .close-button > button:hover {
  color: #b7b7b7;
}

.modal .close-button > button:after {
  content: "\00d7";
}

.modal .movie-info-all {
  position: relative;
  top: 20px;
  margin-bottom: 1rem;
}

.modal .detail-movie-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 1.5rem;
}

.modal .detail-movie-info {
  position: relative;
}

.modal .detail-movie-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #17171b;
}

.modal .detail-movie-content {
  font-size: 20px;
  padding-bottom: 2rem;
  line-height: 170%;
  color: #343a40;
}

.modal .detail-movie-date {
  font-size: 18px;
  padding-bottom: 1rem;
  color: #343a40;
}

.modal .detail-movie-rating {
  font-size: 18px;
  padding-bottom: 2rem;
  color: #343a40;
}

.modal .movie-add-delete {
  margin-bottom: 1.5rem;
}

.modal .movie-add-delete > input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #17171b;
  color: #f1f3f5;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.modal .movie-add-delete:hover {
  opacity: 70%;
}
